# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache
.ecode
build/*
.vscode/
.zed
buildrun.sh
task.json
save/*
tools/myenv/
tools/rapports/*
tools/saves/*
tools/__pycache__/
docs
Doxyfile

# debug information files
*.dwo
task.json
.nvim.lua
compile_commands.json
